
ul >li
 { display: inline; }
.card-container-coll{
   
    margin-left:60px;
    margin-top:80px;
    text-align: center;
    width: 500px;
    height: 600px;
    display:inline-block;
    align-items: center;
  
    
  
}
.card-container-coll>img
{
    width: 100%;
    height:100%;

}
a >img
{
    max-width: 100%;
    height:100%;
}

.card-container-coll>button{
    border-radius: 10px;
   }

.card-containner-coll>p{
    font-family: sans-serif;
    margin:0;
    color:hsl(hue, saturation, lightness);
    align-content: center;
    width: 100%;
    
   }
   .shopListImgs
{
  
  
    animation: fadeIn 2s ease-in-out forwards;
}


   @keyframes fadeIn {

    from { opacity: 0; }
  
    to { opacity: 1; }
  
  }
